<div class="bar__segments" role="tablist" [attr.aria-label]="'filters.byStatus' | translate">
  @for (segment of segments; track segment.labelKey) {
    <button
      type="button"
      role="tab"
      class="bar__segment"
      [class.bar__segment--active]="activeStatus() === segment.value"
      [attr.aria-selected]="activeStatus() === segment.value"
      (click)="statusChange.emit(segment.value)"
    >
      {{ segment.labelKey | translate }}
    </button>
  }
</div>

<div class="bar__actions">
  @if (hasFilters()) {
    <button type="button" class="bar__clear" (click)="clearFilters.emit()">
      <mat-icon svgIcon="close" aria-hidden="true" />
      <span>{{ 'actions.clear' | translate }}</span>
    </button>
  }

  @if (assignees().length > 0) {
    <button
      type="button"
      class="bar__dropdown"
      [class.bar__dropdown--active]="activeAssigneeIds().length > 0"
      [matMenuTriggerFor]="assigneeMenu"
    >
      <span>{{ assigneeLabel() }}</span>
      <mat-icon svgIcon="chevron-down" aria-hidden="true" />
    </button>

    <mat-menu #assigneeMenu="matMenu">
      @for (user of assignees(); track user.id) {
        <button mat-menu-item type="button" (click)="assigneeToggle.emit(user.id)">
          <app-avatar [name]="user.name" [avatar]="user.avatar" [color]="user.color" [size]="20" />
          <span class="bar__menu-label">{{ user.name }}</span>
          @if (isAssigneeActive(user.id)) {
            <mat-icon svgIcon="tasks" aria-hidden="true" />
          }
        </button>
      }
    </mat-menu>
  }

  <button
    type="button"
    class="bar__dropdown"
    [class.bar__dropdown--active]="activePriorities().length > 0"
    [matMenuTriggerFor]="priorityMenu"
  >
    <span>{{ priorityLabel() }}</span>
    <mat-icon svgIcon="chevron-down" aria-hidden="true" />
  </button>

  <mat-menu #priorityMenu="matMenu">
    @for (priority of priorities; track priority) {
      <button mat-menu-item type="button" (click)="priorityToggle.emit(priority)">
        <span class="bar__menu-label">{{ priorityLabelKeys[priority] | translate }}</span>
        @if (isPriorityActive(priority)) {
          <mat-icon svgIcon="tasks" aria-hidden="true" />
        }
      </button>
    }
  </mat-menu>

  <button matButton="filled" type="button" class="bar__create" (click)="createTask.emit()">
    <mat-icon svgIcon="plus" aria-hidden="true" />
    {{ 'actions.newTask' | translate }}
  </button>
</div>
