<div class="bar__segments" role="tablist" [attr.aria-label]="'filters.byStatus' | translate">
  @for (segment of segments; track segment.labelKey) {
    <button
      type="button"
      role="tab"
      class="bar__segment"
      [class.bar__segment--active]="activeStatus() === segment.value"
      [attr.aria-selected]="activeStatus() === segment.value"
      (click)="statusChange.emit(segment.value)"
    >
      {{ segment.labelKey | translate }}
    </button>
  }
</div>

<div class="bar__actions">
  @if (hasFilters()) {
    <button type="button" class="bar__clear" (click)="clearFilters.emit()">
      <mat-icon svgIcon="close" aria-hidden="true" />
      <span>{{ 'actions.clear' | translate }}</span>
    </button>
  }

  @if (assignees().length > 0) {
    <button
      type="button"
      class="bar__dropdown"
      [class.bar__dropdown--active]="activeAssigneeIds().length > 0"
      [matMenuTriggerFor]="assigneeMenu"
    >
      <span>{{ assigneeLabel() }}</span>
      <mat-icon svgIcon="chevron-down" aria-hidden="true" />
    </button>

    <mat-menu #assigneeMenu="matMenu" class="app-menu app-menu--wide">
      @for (user of assignees(); track user.id) {
        <button
          mat-menu-item
          type="button"
          [attr.aria-pressed]="isAssigneeActive(user.id)"
          (click)="assigneeToggle.emit(user.id)"
        >
          <span class="bar__row">
            <app-avatar
              [name]="user.name"
              [avatar]="user.avatar"
              [color]="user.color"
              [size]="24"
            />
            <span class="row__label">{{ user.name }}</span>
            <mat-icon
              class="row__check"
              [class.row__check--on]="isAssigneeActive(user.id)"
              svgIcon="check"
              aria-hidden="true"
            />
          </span>
        </button>
      }
    </mat-menu>
  }

  <button
    type="button"
    class="bar__dropdown"
    [class.bar__dropdown--active]="activePriorities().length > 0"
    [matMenuTriggerFor]="priorityMenu"
  >
    <span>{{ priorityLabel() }}</span>
    <mat-icon svgIcon="chevron-down" aria-hidden="true" />
  </button>

  <mat-menu #priorityMenu="matMenu" class="app-menu">
    @for (priority of priorities; track priority) {
      <button
        mat-menu-item
        type="button"
        [attr.aria-pressed]="isPriorityActive(priority)"
        (click)="priorityToggle.emit(priority)"
      >
        <span class="bar__row">
          <span class="bar__dot" [class]="'bar__dot--' + priority" aria-hidden="true"></span>
          <span class="row__label">{{ priorityLabelKeys[priority] | translate }}</span>
          <mat-icon
            class="row__check"
            [class.row__check--on]="isPriorityActive(priority)"
            svgIcon="check"
            aria-hidden="true"
          />
        </span>
      </button>
    }
  </mat-menu>

  <button matButton="filled" type="button" class="bar__create" (click)="createTask.emit()">
    <mat-icon svgIcon="plus" aria-hidden="true" />
    {{ 'actions.newTask' | translate }}
  </button>
</div>
